<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://nj02all01.baidupcs.com/file/51b4d4031c392dca0b38f9cc12d039e7?bkt=p3-000066adda5156999357a6472c01be91e897&fid=4078458176-250528-841856803711909&time=1505291655&sign=FDTAXGERLQBHSK-DCb740ccc5511e5e8fedcff06b081203-EEC9%2FbeSAqMAIKLu%2FoFq8iVl8kA%3D&to=69&size=9811089&sta_dx=9811089&sta_cs=0&sta_ft=ipa&sta_ct=0&sta_mt=0&fm2=MH,Guangzhou,Netizen-anywhere,,chongqing,cnc&newver=1&newfm=1&secfm=1&flow_ver=3&pkey=000066adda5156999357a6472c01be91e897&sl=71696462&expires=8h&rt=sh&r=856511142&mlogid=5930183630914295770&vuk=4078458176&vbdid=3386643769&fin=zk.ipa&fn=zk.ipa&rtype=1&iv=0&dp-logid=5930183630914295770&dp-callid=0.1.1&hps=1&tsl=153&csl=153&csign=Av3jBADhTTBsisdjeFFxaREEZWQ%3D&so=0&ut=6&uter=4&serv=0&uc=2456529908&ic=394230891&ti=220620fd8d32b11529b66574b21e224478f6752beb7501ff&by=themis</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<false/>
<key>url</key>
<string></string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<false/>
<key>url</key>
<string></string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.skycomm.MonitorDeployment</string>
<key>bundle-version</key>
<string>1.0</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string></string>
<key>title</key>
<string>掌迹</string>
</dict>
</dict>
</array>
</dict>
</plist>